body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 1.9em;
}
h4{
    margin: 0;
    padding: 0;
    color: #bebb14;
}
#index{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    color: rgb(219, 219, 219);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*******************************************
******************LOCK**********************
*******************************************/
#lock-fondo{
    background-image: url('pxfuel.jpg');
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: rgba(228, 228, 228, 0.295);
    width: 290px;
    border: 1px solid #646464;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login > img{
    height: 80px;
}
.login > p{
    color: rgb(24, 23, 23);
    font-size: 1.0em;
    font-weight: 900;
}
.login > input{
    padding: 7px;
    margin-bottom: 15px;
    background-color: #9e9e9e9c;
    border: 1px solid #a3a3a3;
    border-radius: 2px;
    width: 180px;
    color: #000000;
}
.login > a{
    background-color: #0d6860;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 1px;
    margin-bottom: 20px;
    padding: 8px;
    width: 180px;
}
.login > a:hover{
    background-color: rgb(9, 109, 22);
}